~/Documents/Steve/CHARSIMA[[:space:]]GPR/CHARISMA-GPR.zip filter=lfs diff=lfs merge=lfs -text
CHARISMA-GPR.zip filter=lfs diff=lfs merge=lfs -text
CHARISMA_GPR.zip filter=lfs diff=lfs merge=lfs -text
